*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 2vw;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 2vw;
}

nav ul li a{
    text-decoration: none;
    color: #c6e2ff;
    text-shadow:
        0 0 6px rgba(202,228,225,0.92),
        0 0 30px rgba(202,228,225,0.34),
        0 0 12px rgba(30,132,242,0.52),
        0 0 21px rgba(30,132,242,0.92),
        0 0 34px rgba(30,132,242,0.78),
        0 0 54px rgba(30,132,242,0.92);
    font-size: 2vw;
    font-family: lum;
}

nav ul li a:hover{
    color: #c6e2ff;
    text-shadow: 
        0 0 6px rgba(202,228,225,0.92),
        0 0 30px rgba(224, 202, 228, 0.34),
        0 0 12px rgba(157, 30, 242, 0.52),
        0 0 21px rgba(157, 30, 242, 0.92),
        0 0 34px rgba(147, 30, 242, 0.78),
        0 0 54px rgba(182, 30, 242, 0.92);
}

.container{
    max-width: 1400px;
    padding-left: 25px;
}

@font-face {
    font-family: lum;
    src: url(../font/Monoton/Monoton-Regular.ttf);
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
 
.col{
    flex-basis: 50%;
    padding: 20px;
}

.col{
    width: 100%;
    padding: 70px 0;
}

.col h1{
    font-size: 3vw;
    line-height: 4vw;
    margin: 25px 0;
    color: #f1f1f1;
}

.col p{
    color: #f1f1f1;
}

.k {
    border-radius: 1vw;
    opacity: 0.8;
}

.col a{
    display: inline-block;
    text-decoration: none;
    padding: 1vw 3vw;
    background: url(../image/arafed-man-standing-hill-looking-distant-planet-generative-ai_900833-475.avif) ;
    color: #f1f1f1;
    border-radius: 30px;
    margin-top: 5%;
    margin-left: 25%;
}

.col a:hover{
    opacity: 0.5;
}

body{
    background: url(../image/fdb21c0e4f3dbb6ccd9a63c68fce8645.gif);
    background-attachment: fixed;
}



